$MainFontColor:#000000;
$ParaFontColor:#141414;
$MainFontWeight:400;
$ExtraBold:900;
$MediumBold:700;
$BackgroundColor:#F5F6FF;

@mixin sm-screen {
  @media (min-width:648px) {
    @content;
  }
}

@mixin md-screen {
    @media (min-width:768px) {
      @content;
    }
  }

  @mixin lg-screen {
    @media (min-width:1024px) {
      @content;
    }
  }
  
@mixin xlg-screen {
    @media (min-width:1280px) {
      @content;
    }
  }
  
@mixin xxlg-screen {
    @media (min-width:1536px) {
      @content;
    }
  }
  
    

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
.fluid  {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

// ++++++++++++ HEADER PAGE STARTS HERE ++++++++++++++
header {
    position: relative;
    display: grid;
    place-content: center;
    height: 100vh;
    background-image: url("images/VectorhomePage.png");
    background-color: $BackgroundColor;
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background-color: $BackgroundColor;
    z-index: 10;
    .menu__items {
        @include lg-screen() {
            position: static;
        }
        position: absolute;
        right: 100%;
        top: 60px;
        transition: .3s ease-in-out;
        @include sm-screen() {
            top: 70px;
        }
        li   {
        padding: 15px;
        @include sm-screen() {
            padding-left: 50px;
        }
        @include  lg-screen() {
            padding-left: 0;
        }
         a {
            @include lg-screen() {
                font-size: 20px;
                padding:0 1.5em;
                color: $MainFontColor;
                font-weight: $MainFontWeight;
            }
            @include xlg-screen {
                padding: 0 2em;
            }
            color: white;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 1px;
                background-color: #D6383D;
                top: 30px;
                left: 0;

                @include lg-screen() {
                    width: 0%;
                }
            }
            &::after:hover {
                width: 100%;
            }
         }
        }
    }
    .menu__itemsActive {
        right: 0;
        flex-direction: column;
        width: 100%;
        padding: 2em 0;
        background-color: #000000;
        text-align: left;
    }
    .nav__btn  {
        padding: 0 1em;
        button {
            @include lg-screen {
                display: block;    
                padding: 1em 3em;
            }
            background-color: #D6383D;
            color: white;
            font-weight: $ExtraBold;
            box-shadow: 0px 2.99332px 4.48998px rgba(255, 255, 255, 0.35);
            border-radius: 30.6816px;
            display: none;
            font-size: 14px;
            padding: .5em 3em;
        }
 
    }
    .menuBar {
        .bar {
            width: 30px;
            height: 5px;
            background-color: black;
            border-radius: 10px;
            transition: .3s ease-in-out;
        }
        .bar:nth-child(2) {
            margin: 3px 0;
        }
    }
    
}
   .hero {
      display: grid;
      place-content: center;
     .hero_content {
        display: flex;
        flex-direction: column;
        align-items: center;   
        margin-top: -2em;
        @include md-screen {
            margin-top: 2em;
        }
        h1 {
            font-size: 40px;
            @include lg-screen {
                width: 90%;
                font-size: 80px;
            }
        }
   span  {
        color: #D6383D;
    }
     button {
        padding: 1em 3em;
        background: #5700B6;
        color: white;
        font-weight: $ExtraBold;
        box-shadow: 0px 2.96px 4.44px rgba(0, 0, 0, 0.35);
        border-radius: 30.34px;
        @include xlg-screen() {
            padding: 1em 3em;
            font-size: 30px;
            border-radius: 50px;
            margin-top: 3em;
        }
    }
  }
 }
 .header_image {
    position: absolute;
    left: 0;
    bottom: 0px;
    z-index: 1;
    img {
        width: 150px;
    }
 }
}

// ++++++++++++ ABOUT US PAGE STARTS HERE ++++++++++++++

.about__section {
    display: flex;
    position: relative;
    justify-content: center;
    .about_section_vectors {
            display: none;
            width: 50%;
            height: 100%;
            left: 0;
            @include lg-screen {
                position: absolute;
                display: block;
            }
         .one {
            position: absolute;
            top: 0;
            left: 13%;
            z-index: 3;
            @include xlg-screen {
                left: 25%;
            }
         }
         .two {
            position: absolute;
            top: 10%;
            z-index: -1;
            img {
                width: 500px;
               }
         }
         .three {
            position: absolute;
            top: 30%;
            height: 500px;
            width: 400px;

         }
         .four {
            position: absolute;
            top: 30%;
         }
    }
    .about_section_content  {
        @include lg-screen {
            width: 70%;
        }
        @include xlg-screen {
            width: 60%;
            margin-left: -6rem;            
        }     
        @include xxlg-screen() {
            margin-left: -8rem;
        }
        .about_heading {
            color: #2C2D36;
        }
        .about_para {
            z-index: 2;
            text-align: center;
            @include lg-screen {
                text-align: left;
                margin-left: 70px;
                width: 70%;
            }
            @include xxlg-screen() {
                width: 60%;
            }
        }
    } 
}

// ++++++++++++ SERVICES WE PROVIDE PAGE STARTS HERE ++++++++++++++


.services__section {
    display:grid;
    place-items: center;
    background: url(images/Left\ illustration.png), url(images/AI\ illustration\ peoplelast.png) bottom right,#D9D9D9;
    background-repeat: no-repeat;
    .services__body  {
     h1 {
        color: #5700B6;
    }
    .service_section {
         margin-bottom: 2em;
         width: 100%;
         @include md-screen() {
            width: 700px;
         }
        .service_section__head  {
            display: flex;
            justify-content: space-around;
            align-items: center;        
            cursor: pointer;
            padding: 20px 25px 30px 25px;
            background: linear-gradient(180deg, rgba(245, 246, 255, 0.7) 0%, rgba(248, 248, 248, 0) 100%);
            backdrop-filter: blur(10.5px);  
            @include sm-screen() {
             border-radius: 20px;
            }  
            h3 {
            font-size: 21px;
            margin-left: 30px;
            font-weight: bold;
            flex: 2;
           }
            span {
            float:  right;
           }     
        }
        .service_body {
            padding: 1em;
            display: none;
            background-color: #f5f5f5;
            @include xlg-screen {
              background-color: transparent;
            }
            p {
                    color: #000000;
            }
        }
    }
    
}
}

// ++++++++++++ CONTACT US PAGE STARTS HERE ++++++++++++++

.contact-section-wrapper {
    position: relative;
    background-color: $BackgroundColor;
    .contact__section {
       @include lg-screen {
        padding: 7rem 0;
       }
        .contact_section__heading  {
             display: flex;
             align-items: center;
            .one {
                width: 71px;
                height: 3px;
                background-color: #D6383D;
            }
            .two {
                width: 44px;
                height: 3px;
                background-color: #D6383D;
                margin-left: 10px;
                margin-right: 20px;
                display: none;
                @include sm-screen {
                    display: block;
                }
            }
             p {
                color: #5700B6;
                margin-left: 10px;
                @include sm-screen {
                    margin-left: 0px;
                }
             } 
            
        }
        .vertor-bars {
            bottom: 0;
            left: 0;
            img {
                width: 400px;
            }
        }
        .vertor-contact {
            right: 0;
            img {
                width: 150px;
            }
        }
        .vertor-bars, .vertor-contact {
            position: absolute;
            display: none;
            @include lg-screen() {
              display: block;
            }
        }
        .contact_section__body { 
            display: flex;
            flex-direction: column;
            padding-top: 20px;
            gap: 40px;
            @include lg-screen {
                flex-direction: row;
                gap: 20px;
            }
            @include xlg-screen() {
                 padding: 40px 4rem;
                 margin-top: 2em;
                 gap: 0;
            }
            .contact_section__bodyLeft {
                .contact_section__bodyLeft_heading {
                    margin-left: 20px;
                    @include xlg-screen() {
                        width: 90%;
                    }
                    h1 {
                        @include xlg-screen() {
                            font-size: 50px;
                            font-weight: bold;
                            line-height: 3rem;
                        }
                    }
                    p {
                        margin-top: 10px;
                    }
                }
            }
            .contact_section__bodyRight {
                @include xlg-screen() {
                    margin-top: -6em;
                }
                .contact_section__bodyRight_contactForm {
                    background-color: #ffffff;
                    width: 100%;
                    padding: 2em 0;
                    @include lg-screen {
                        border-radius: 40px;
                    }
                    @include xlg-screen() {
                        width: 555px;
                        padding: 3em 0;
                    }
                   .contact-form-heading {
                     font-size: 30px;
                     @include xlg-screen() {
                        font-size: 50px;
                     }
                   }
                    form {
                        width: 100%;
                        @include sm-screen {
                            width: 70%;
                            margin: 0 auto;
                        }
                        @include lg-screen {
                            width: 100%;
                        }
                       input {
                        width: 90%;
                       }
                       textarea {
                        width: 90%;
                       }
                       button {
                        background: linear-gradient(91.61deg, #9548E9 1.29%, #5700B6 98.03%);
                        border-radius: 5px;
                        color: white;
                        width: 90%;
                        font-weight: bold;
                       }
                       input, textarea {
                        border-radius: 5px;
                        background-color: #f3f3f3;
                        padding: 10px;
                        outline: none;
                        @include xlg-screen() {
                            padding: 25px;
                        }
                       }
                    }
                }
            }
        }
        
    }
}

.fa-paper-plane {
    font-size: 5em;
}

footer {
    background-color: $ParaFontColor;
    p {
       margin-top: 10px;
    }
    .footer__navlinks {
        margin-bottom: 10px;
        a {
            font-size: 18px;
            font-weight: bold;
        }
    }
}



// ++++++++++++ FUNCTIONALITY OF MENU BAR ++++++++++++++


    header {
        nav {   
         .menuBarActive {
            .bar.activated {
                background-color: rgb(255, 0, 0);
            }
            .bar.activated:nth-child(1) {
                transform: translateY(9px) rotate(45deg);
            }
            .bar.activated:nth-child(2) {
                transform: translateY(1px) rotate(-45deg);
            }
            .bar.activated:nth-child(3) {
                transform: translateY(-7px) rotate(-45deg);
            }
         }
        }
    } 