* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.fluid {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

header {
  position: relative;
  display: grid;
  place-content: center;
  height: 100vh;
  background-image: url("images/VectorhomePage.png");
  background-color: #F5F6FF;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  background-color: #F5F6FF;
  z-index: 10;
}
header nav .menu__items {
  position: absolute;
  right: 100%;
  top: 60px;
  transition: 0.3s ease-in-out;
}
@media (min-width: 1024px) {
  header nav .menu__items {
    position: static;
  }
}
@media (min-width: 648px) {
  header nav .menu__items {
    top: 70px;
  }
}
header nav .menu__items li {
  padding: 15px;
}
@media (min-width: 648px) {
  header nav .menu__items li {
    padding-left: 50px;
  }
}
@media (min-width: 1024px) {
  header nav .menu__items li {
    padding-left: 0;
  }
}
header nav .menu__items li a {
  color: white;
  position: relative;
}
@media (min-width: 1024px) {
  header nav .menu__items li a {
    font-size: 20px;
    padding: 0 1.5em;
    color: #000000;
    font-weight: 400;
  }
}
@media (min-width: 1280px) {
  header nav .menu__items li a {
    padding: 0 2em;
  }
}
header nav .menu__items li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #D6383D;
  top: 30px;
  left: 0;
}
@media (min-width: 1024px) {
  header nav .menu__items li a::after {
    width: 0%;
  }
}
header nav .menu__items li a::after:hover {
  width: 100%;
}
header nav .menu__itemsActive {
  right: 0;
  flex-direction: column;
  width: 100%;
  padding: 2em 0;
  background-color: #000000;
  text-align: left;
}
header nav .nav__btn {
  padding: 0 1em;
}
header nav .nav__btn button {
  background-color: #D6383D;
  color: white;
  font-weight: 900;
  box-shadow: 0px 2.99332px 4.48998px rgba(255, 255, 255, 0.35);
  border-radius: 30.6816px;
  display: none;
  font-size: 14px;
  padding: 0.5em 3em;
}
@media (min-width: 1024px) {
  header nav .nav__btn button {
    display: block;
    padding: 1em 3em;
  }
}
header nav .menuBar .bar {
  width: 30px;
  height: 5px;
  background-color: black;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}
header nav .menuBar .bar:nth-child(2) {
  margin: 3px 0;
}
header .hero {
  display: grid;
  place-content: center;
}
header .hero .hero_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -2em;
}
@media (min-width: 768px) {
  header .hero .hero_content {
    margin-top: 2em;
  }
}
header .hero .hero_content h1 {
  font-size: 40px;
}
@media (min-width: 1024px) {
  header .hero .hero_content h1 {
    width: 90%;
    font-size: 80px;
  }
}
header .hero .hero_content span {
  color: #D6383D;
}
header .hero .hero_content button {
  padding: 1em 3em;
  background: #5700B6;
  color: white;
  font-weight: 900;
  box-shadow: 0px 2.96px 4.44px rgba(0, 0, 0, 0.35);
  border-radius: 30.34px;
}
@media (min-width: 1280px) {
  header .hero .hero_content button {
    padding: 1em 3em;
    font-size: 30px;
    border-radius: 50px;
    margin-top: 3em;
  }
}
header .header_image {
  position: absolute;
  left: 0;
  bottom: 0px;
  z-index: 1;
}
header .header_image img {
  width: 150px;
}

.about__section {
  display: flex;
  position: relative;
  justify-content: center;
}
.about__section .about_section_vectors {
  display: none;
  width: 50%;
  height: 100%;
  left: 0;
}
@media (min-width: 1024px) {
  .about__section .about_section_vectors {
    position: absolute;
    display: block;
  }
}
.about__section .about_section_vectors .one {
  position: absolute;
  top: 0;
  left: 13%;
  z-index: 3;
}
@media (min-width: 1280px) {
  .about__section .about_section_vectors .one {
    left: 25%;
  }
}
.about__section .about_section_vectors .two {
  position: absolute;
  top: 10%;
  z-index: -1;
}
.about__section .about_section_vectors .two img {
  width: 500px;
}
.about__section .about_section_vectors .three {
  position: absolute;
  top: 30%;
  height: 500px;
  width: 400px;
}
.about__section .about_section_vectors .four {
  position: absolute;
  top: 30%;
}
@media (min-width: 1024px) {
  .about__section .about_section_content {
    width: 70%;
  }
}
@media (min-width: 1280px) {
  .about__section .about_section_content {
    width: 60%;
    margin-left: -6rem;
  }
}
@media (min-width: 1536px) {
  .about__section .about_section_content {
    margin-left: -8rem;
  }
}
.about__section .about_section_content .about_heading {
  color: #2C2D36;
}
.about__section .about_section_content .about_para {
  z-index: 2;
  text-align: center;
}
@media (min-width: 1024px) {
  .about__section .about_section_content .about_para {
    text-align: left;
    margin-left: 70px;
    width: 70%;
  }
}
@media (min-width: 1536px) {
  .about__section .about_section_content .about_para {
    width: 60%;
  }
}

.services__section {
  display: grid;
  place-items: center;
  background: url(images/Left\ illustration.png), url(images/AI\ illustration\ peoplelast.png) bottom right, #D9D9D9;
  background-repeat: no-repeat;
}
.services__section .services__body h1 {
  color: #5700B6;
}
.services__section .services__body .service_section {
  margin-bottom: 2em;
  width: 100%;
}
@media (min-width: 768px) {
  .services__section .services__body .service_section {
    width: 700px;
  }
}
.services__section .services__body .service_section .service_section__head {
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  padding: 20px 25px 30px 25px;
  background: linear-gradient(180deg, rgba(245, 246, 255, 0.7) 0%, rgba(248, 248, 248, 0) 100%);
  -webkit-backdrop-filter: blur(10.5px);
          backdrop-filter: blur(10.5px);
}
@media (min-width: 648px) {
  .services__section .services__body .service_section .service_section__head {
    border-radius: 20px;
  }
}
.services__section .services__body .service_section .service_section__head h3 {
  font-size: 21px;
  margin-left: 30px;
  font-weight: bold;
  flex: 2;
}
.services__section .services__body .service_section .service_section__head span {
  float: right;
}
.services__section .services__body .service_section .service_body {
  padding: 1em;
  display: none;
  background-color: #f5f5f5;
}
@media (min-width: 1280px) {
  .services__section .services__body .service_section .service_body {
    background-color: transparent;
  }
}
.services__section .services__body .service_section .service_body p {
  color: #000000;
}

.contact-section-wrapper {
  position: relative;
  background-color: #F5F6FF;
}
@media (min-width: 1024px) {
  .contact-section-wrapper .contact__section {
    padding: 7rem 0;
  }
}
.contact-section-wrapper .contact__section .contact_section__heading {
  display: flex;
  align-items: center;
}
.contact-section-wrapper .contact__section .contact_section__heading .one {
  width: 71px;
  height: 3px;
  background-color: #D6383D;
}
.contact-section-wrapper .contact__section .contact_section__heading .two {
  width: 44px;
  height: 3px;
  background-color: #D6383D;
  margin-left: 10px;
  margin-right: 20px;
  display: none;
}
@media (min-width: 648px) {
  .contact-section-wrapper .contact__section .contact_section__heading .two {
    display: block;
  }
}
.contact-section-wrapper .contact__section .contact_section__heading p {
  color: #5700B6;
  margin-left: 10px;
}
@media (min-width: 648px) {
  .contact-section-wrapper .contact__section .contact_section__heading p {
    margin-left: 0px;
  }
}
.contact-section-wrapper .contact__section .vertor-bars {
  bottom: 0;
  left: 0;
}
.contact-section-wrapper .contact__section .vertor-bars img {
  width: 400px;
}
.contact-section-wrapper .contact__section .vertor-contact {
  right: 0;
}
.contact-section-wrapper .contact__section .vertor-contact img {
  width: 150px;
}
.contact-section-wrapper .contact__section .vertor-bars, .contact-section-wrapper .contact__section .vertor-contact {
  position: absolute;
  display: none;
}
@media (min-width: 1024px) {
  .contact-section-wrapper .contact__section .vertor-bars, .contact-section-wrapper .contact__section .vertor-contact {
    display: block;
  }
}
.contact-section-wrapper .contact__section .contact_section__body {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  gap: 40px;
}
@media (min-width: 1024px) {
  .contact-section-wrapper .contact__section .contact_section__body {
    flex-direction: row;
    gap: 20px;
  }
}
@media (min-width: 1280px) {
  .contact-section-wrapper .contact__section .contact_section__body {
    padding: 40px 4rem;
    margin-top: 2em;
    gap: 0;
  }
}
.contact-section-wrapper .contact__section .contact_section__body .contact_section__bodyLeft .contact_section__bodyLeft_heading {
  margin-left: 20px;
}
@media (min-width: 1280px) {
  .contact-section-wrapper .contact__section .contact_section__body .contact_section__bodyLeft .contact_section__bodyLeft_heading {
    width: 90%;
  }
}
@media (min-width: 1280px) {
  .contact-section-wrapper .contact__section .contact_section__body .contact_section__bodyLeft .contact_section__bodyLeft_heading h1 {
    font-size: 50px;
    font-weight: bold;
    line-height: 3rem;
  }
}
.contact-section-wrapper .contact__section .contact_section__body .contact_section__bodyLeft .contact_section__bodyLeft_heading p {
  margin-top: 10px;
}
@media (min-width: 1280px) {
  .contact-section-wrapper .contact__section .contact_section__body .contact_section__bodyRight {
    margin-top: -6em;
  }
}
.contact-section-wrapper .contact__section .contact_section__body .contact_section__bodyRight .contact_section__bodyRight_contactForm {
  background-color: #ffffff;
  width: 100%;
  padding: 2em 0;
}
@media (min-width: 1024px) {
  .contact-section-wrapper .contact__section .contact_section__body .contact_section__bodyRight .contact_section__bodyRight_contactForm {
    border-radius: 40px;
  }
}
@media (min-width: 1280px) {
  .contact-section-wrapper .contact__section .contact_section__body .contact_section__bodyRight .contact_section__bodyRight_contactForm {
    width: 555px;
    padding: 3em 0;
  }
}
.contact-section-wrapper .contact__section .contact_section__body .contact_section__bodyRight .contact_section__bodyRight_contactForm .contact-form-heading {
  font-size: 30px;
}
@media (min-width: 1280px) {
  .contact-section-wrapper .contact__section .contact_section__body .contact_section__bodyRight .contact_section__bodyRight_contactForm .contact-form-heading {
    font-size: 50px;
  }
}
.contact-section-wrapper .contact__section .contact_section__body .contact_section__bodyRight .contact_section__bodyRight_contactForm form {
  width: 100%;
}
@media (min-width: 648px) {
  .contact-section-wrapper .contact__section .contact_section__body .contact_section__bodyRight .contact_section__bodyRight_contactForm form {
    width: 70%;
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  .contact-section-wrapper .contact__section .contact_section__body .contact_section__bodyRight .contact_section__bodyRight_contactForm form {
    width: 100%;
  }
}
.contact-section-wrapper .contact__section .contact_section__body .contact_section__bodyRight .contact_section__bodyRight_contactForm form input {
  width: 90%;
}
.contact-section-wrapper .contact__section .contact_section__body .contact_section__bodyRight .contact_section__bodyRight_contactForm form textarea {
  width: 90%;
}
.contact-section-wrapper .contact__section .contact_section__body .contact_section__bodyRight .contact_section__bodyRight_contactForm form button {
  background: linear-gradient(91.61deg, #9548E9 1.29%, #5700B6 98.03%);
  border-radius: 5px;
  color: white;
  width: 90%;
  font-weight: bold;
}
.contact-section-wrapper .contact__section .contact_section__body .contact_section__bodyRight .contact_section__bodyRight_contactForm form input, .contact-section-wrapper .contact__section .contact_section__body .contact_section__bodyRight .contact_section__bodyRight_contactForm form textarea {
  border-radius: 5px;
  background-color: #f3f3f3;
  padding: 10px;
  outline: none;
}
@media (min-width: 1280px) {
  .contact-section-wrapper .contact__section .contact_section__body .contact_section__bodyRight .contact_section__bodyRight_contactForm form input, .contact-section-wrapper .contact__section .contact_section__body .contact_section__bodyRight .contact_section__bodyRight_contactForm form textarea {
    padding: 25px;
  }
}

.fa-paper-plane {
  font-size: 5em;
}

footer {
  background-color: #141414;
}
footer p {
  margin-top: 10px;
}
footer .footer__navlinks {
  margin-bottom: 10px;
}
footer .footer__navlinks a {
  font-size: 18px;
  font-weight: bold;
}

header nav .menuBarActive .bar.activated {
  background-color: rgb(255, 0, 0);
}
header nav .menuBarActive .bar.activated:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}
header nav .menuBarActive .bar.activated:nth-child(2) {
  transform: translateY(1px) rotate(-45deg);
}
header nav .menuBarActive .bar.activated:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}/*# sourceMappingURL=landingPage.css.map */